body {
    gap: 40px; /* отступ между header и .wrapper */
}
.wrapper {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-bottom: 50px;
}
